* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

/* --- header --- */

header {
    display: flex;

    background-color: red;

    color: white;

    padding: 1rem;
    justify-content: space-between;
}

header > #title {
    font-size: 2rem;
}

header > #links {
    display: flex;
    gap: 1rem;
    
    align-items: center;
}

#links > a {
    all: unset;
}

/* --- shop grid --- */

#shop-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    padding: 1rem;

    gap: 1rem; 
}

#shop-grid > .item {
    display: flex;
    background-color: gainsboro;

    flex-direction: column;
}

#shop-grid > .item > img {
    height: 20rem;
    object-fit: cover;
}

        
#shop-grid > .item > div {
    padding: 0.6rem;

    display: flex;
    flex-direction: column;
}

#shop-grid > .item > div > div:nth-child(1) {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}

#shop-grid > .item > div > div:nth-child(1) > p:nth-child(1) {
    font-size: 1.5rem;
}
                
#shop-grid > .item > div > div:nth-child(1) > p:nth-child(2) {
    font-weight: bold;
}

#shop-grid > .item > div > div:nth-child(2) {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}


#shop-grid > .item > div > div:nth-child(2) > div {
    display: flex;
    gap: 0.1rem;
}


#shop-grid > .item > div > div:nth-child(2) > div > img {
    height: 1rem;
}


.add-btn {
    padding: 0.5rem;
    border-radius: 50%;

    background-color: grey;

    display: block;

    transition: box-shadow 0.3s ease, transform 0.3s ease;

    position: relative;
    cursor: pointer;
}

.add-btn:hover {
    transform: translateY(-0.1rem);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.add-btn > img {
    height: 1.5rem;
}

